* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Main */

.main {
  height: 735px;
  background-image: url(img/topbackg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header__input::placeholder {
  color: #ffffff;
}

.main__nav {
  display: flex;
  gap: 32px;
}

.nav__link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.nav__link:hover,
.footer__link:hover {
  text-decoration: underline;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: #ffffff;
  width: 790px;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 16px;
  color: #ffffff;
}

.link-next {
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #ffffff;
}

/* Special offers */

.special-offers__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-top: 64px;
}

.product__content {
  margin-top: 32px;
  display: flex;
  column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.special-offers__item {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product__img {
  width: 100%;
}

.product-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 8px;
  margin-top: 10px;
}

.product-description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  padding-bottom: 12px;
}

.product__price-box {
  display: flex;
  gap: 32px;
}

.product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product-old-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

/* Catalog */

.catalog {
  padding-top: 64px;
}

.catalog__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.product__item {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.catalog__link-box{
  margin-top: 34px;
  margin-bottom: 64px;
}

.catalog__link-next {
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #000;
}

/* Footer */

.footer__content{
  background: #F7F6F6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__menu,
.footer__contacts,
.newsletter{
  display: flex;
  flex-direction: column;
}

.footer__title__menu,
.footer__title__contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 12px;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  padding-top: 12px;
}

.footer__icons{
  display: flex;
  gap: 20px;
  align-items: center;
}

.newsletter__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 16px;
}

.newsletter__input {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  height: 46px;
  width: 275px;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  outline: none;
  margin-bottom: 12px;
  padding-left: 20px;
}

.newsletter__btn-subscribe {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
